MusicAndVideo/SampleData/MusicAndVideoHubSampleDataSource/MusicAndVideoHubSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.MusicAndVideoHubSampleDataSource" targetNamespace="Expression.Blend.SampleData.MusicAndVideoHubSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MusicAndVideoHubSampleDataSource" type="tns:MusicAndVideoHubSampleDataSource" />
  <xs:complexType name="MusicAndVideoHubSampleDataSource">
    <xs:sequence>
      <xs:element name="Apps" type="tns:Apps" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Apps">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AppsItem" type="tns:AppsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppsItem">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>