Marketplace/SampleData/AppsSampleDataSource/AppsSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.AppsSampleDataSource" targetNamespace="Expression.Blend.SampleData.AppsSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AppsSampleDataSource" type="tns:AppsSampleDataSource" />
  <xs:complexType name="AppsSampleDataSource">
    <xs:sequence>
      <xs:element name="Categories" type="tns:Categories" />
      <xs:element name="New" type="tns:New" />
      <xs:element name="Top" type="tns:Top" />
      <xs:element name="Featured" type="tns:Featured" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CategoriesItem" type="tns:CategoriesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoriesItem">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="New">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="NewItem" type="tns:NewItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Publisher" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Top">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TopItem" type="tns:TopItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TopItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Publisher" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Featured">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FeaturedItem" type="tns:FeaturedItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeaturedItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Comment" type="xs:string" />
  </xs:complexType>
</xs:schema>