Marketplace/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Apps" type="tns:Apps" />
      <xs:element name="Games" type="tns:Games" />
      <xs:element name="Music" type="tns:Music" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Apps">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AppsItem" type="tns:AppsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppsItem">
    <xs:attribute name="Title" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Games">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="GamesItem" type="tns:GamesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GamesItem">
    <xs:attribute name="Title" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Music">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MusicItem" type="tns:MusicItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MusicItem">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="Subtitle" type="xs:string" />
  </xs:complexType>
</xs:schema>